@charset "UTF-8";
/* Header
========================*/
.header-wrap {
  background: url(../img/bg.jpg) no-repeat top center;
  width: 100%;
  background-size: cover;
  position: relative;
  padding-bottom: 230px; }

.nav-block {
  padding: 10px 0px; }

.dd-burger {
  position: absolute;
  right: 20px;
  top: 25px;
  cursor: pointer; }

.mobile-menu {
  display: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px; }

.dd-header-wrap {
  background: #2098D1; }

.dd-logo-hover:hover .dd-slogan span {
  color: #057DB6; }

.dd-main-menu ul {
  text-align: center; }
  .dd-main-menu ul li {
    margin-bottom: 5px; }
.dd-main-menu a {
  color: #fff;
  font-family: "RobotoCondensedBold";
  font-size: 15px;
  text-transform: uppercase; }
.dd-main-menu a:hover {
  border-bottom: 2px solid #fff; }

.dd-active {
  border-bottom: 2px solid #fff; }

.dd-box {
  display: inline-block; }

.dd-slogan {
  vertical-align: top;
  padding-top: 3px; }
  .dd-slogan span {
    display: inline-block;
    font-family: "RobotoBold";
    color: #fff;
    transition: 0.5s; }

.dd-contact {
  text-align: center; }
  .dd-contact span {
    color: #fff;
    font-family: "RobotoRegular";
    display: inline-block;
    margin-top: 15px; }
  .dd-contact .dd-skype {
    background: url(../img/s.png) no-repeat left center;
    padding-left: 26px; }
  .dd-contact .dd-email {
    background: url(../img/p.png) no-repeat left center;
    padding-left: 26px; }
  .dd-contact a {
    font-family: "RobotoCondensedRegular";
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background: #045F8C;
    padding: 5px 6px;
    transition: 0.7s;
    margin-top: 15px; }
  .dd-contact a:hover {
    background: #00305D; }

/* ╨в╨╡╨║╤Б╤В ╨╜╨░ ╨│╨╗╨░╨▓╨╜╨╛╨╣
==========================*/
.dd-title {
  text-align: center;
  margin-top: 110px;
  position: relative;
  z-index: 8000; }
  .dd-title span {
    display: block;
    text-shadow: 1px 1px 2px black, 0 0 1em black; }
  .dd-title span:nth-child(1) {
    font-family: "RobotoCondensedRegular";
    color: #fff;
    font-size: 2.5em; }
  .dd-title span:nth-child(2) {
    font-family: "RobotoBold";
    color: #2098D1;
    text-shadow: 1px 1px 2px white, 0 0 1em white;
    font-size: 26px; }
  .dd-title span:nth-child(3) {
    font-family: "RobotoCondensedRegular";
    font-size: 34px;
    margin-top: 10px;
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 22px; }
  .dd-title span:nth-child(4) {
    font-family: "RobotoMedium";
    font-size: 34px;
    margin-top: 10px;
    color: #fff; }

.dd-button {
  text-align: center;
  padding-top: 100px;
  position: relative;
  z-index: 8000; }
  .dd-button a {
    display: inline-block;
    background: #045F8C;
    color: #fff;
    padding: 10px 45px;
    font-family: "RobotoCondensedRegular";
    font-size: 21px;
    transition: 0.7s;
    position: relative; }
  .dd-button a:after {
    content: "";
    position: absolute;
    background: url(../img/str.png) no-repeat;
    width: 50px;
    height: 25px;
    bottom: -32px;
    right: 54px; }
  .dd-button a:hover {
    background: #00305D; }

/* about
=========================*/
.about_container {
  max-width: 680px;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 50px;
  padding: 10px; }
  .about_container p {
    font-family: "RobotoLight";
    padding-bottom: 10px; }
  .about_container b {
    font-weight: bold; }
  .about_container span {
    display: block;
    font-family: "RobotoLight";
    font-size: 20px;
    margin-bottom: 65px; }
  .about_container .sp1 {
    background: url(../img/sp1.png) no-repeat left center;
    padding-left: 37px;
    height: 30px; }
  .about_container .sp2 {
    background: url(../img/sp2.png) no-repeat left center;
    padding-left: 37px;
    height: 30px; }
  .about_container .sp3 {
    background: url(../img/sp3.png) no-repeat left center;
    padding-left: 37px;
    height: 30px; }
  .about_container .h2_how_work {
    margin-top: 25px; }

h2 {
  font-family: "RobotoCondensedRegular";
  font-size: 35px;
  padding-bottom: 25px; }

/* faq
=================================*/
.faq_wrap {
  background: #2098D1;
  padding: 45px 0px;
  margin-top: 55px; }

.title {
  text-align: center;
  color: #fff; }

.faq {
  max-width: 800px;
  margin: 0px auto; }

.faq-title {
  font-family: "RobotoCondensedRegular";
  color: #fff;
  background: #057DB6 url(../img/pl.png) no-repeat center right 2px;
  transition: background-color 0.7s;
  border-bottom: 1px solid #fff;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 18px; }

.active_ak {
  background: #00619A url(../img/m.png) no-repeat center right 2px; }

.faq-title:hover {
  background-color: #00619A; }

.faq-content {
  padding: 15px 10px;
  font-size: 15px;
  display: none;
  background: #fff; }
  .faq-content p {
    font-family: "RobotoLight";
    font-size: 15px; }

#toTop {
  padding: 5px;
  position: fixed;
  bottom: 80px;
  right: 20px;
  cursor: pointer;
  display: none;
  z-index: 9999;
  opacity: 0.5;
  transition: 0.7s; }

#toTop:hover {
  opacity: 1; }

/* footer
==========================*/
.footer {
  background: #222222;
  padding: 10px 0px; }

.copy {
  padding-top: 22px; }
  .copy span {
    font-family: "RobotoRegular";
    color: #fff;
    display: inline-block;
    font-size: 15px; }

@media only screen and (min-width: 480px) {
  .dd-main-menu li {
    display: inline-block;
    margin-right: 5px; }

  .about_container span {
    margin-bottom: 25px; }

  .faq-title {
    background: #057DB6 url(../img/pl.png) no-repeat center right 15px; }

  .active_ak {
    background: #00619A url(../img/m.png) no-repeat center right 15px; } }
@media only screen and (min-width: 768px) {
  .about_container span {
    margin-bottom: 15px; } }
@media only screen and (min-width: 992px) {
  .dd-burger {
    display: none; }

  .mobile-menu {
    display: block !important;
    border-bottom: unset; }

  .dd-main-menu {
    padding-top: 16px; }
    .dd-main-menu ul {
      text-align: center; }
      .dd-main-menu ul li {
        display: inline-block;
        margin-right: 21px; } }
@media only screen and (min-width: 1248px) {
  .dd-contact {
    text-align: right; }
    .dd-contact span {
      margin-right: 17px; }
    .dd-contact a {
      padding: 5px 10px; }

  .dd-main-menu ul li {
    margin-right: 36px; } }

/*# sourceMappingURL=style-dd.css.map */
