@import url(reset.css);
@import url(fonts.css);
@import url(style-dd.css);
@import url(style-df.css);
.bg-color {
  background: #fff; }

body, html {
  height: 100%; }

.n-header {
  display: table-row;
  height: 1px; }

.n-content {
  display: table-row; }

.n-footer {
  display: table-row;
  height: 1px; }

.n-wrapper {
  width: 100%;
  height: 100%;
  display: table; }

.n-content-inner {
  display: table-cell;
  padding: 15px; }

.vertical-align {
  vertical-align: middle; }

body {
  background: url(../img/brickwall.png) repeat; }

.clear {
  clear: both; }

.container_view {
  padding: 0 10px;
  border-left: 1px solid #DFDDDD;
  border-right: 1px solid #DFDDDD;
  background: #fff; }

h1 {
  padding: 15px 0px;
  font-family: "RobotoBold";
  font-size: 26px;
  color: black; }

p {
  font-family: "RobotoRegular";
  color: black;
  line-height: 20px;
  margin-bottom: 20px; }

.button {
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  display: inline-block;
  width: 184px;
  height: 40px;
  font-family: "RobotoMedium";
  font-size: 17px;
  color: #fff;
  background: linear-gradient(to top, #DD2B1B, #F17E00); }

.button:hover {
  background: #FF9726; }

/* Header
==============================*/
.header-box {
  display: inline-block; }

.slogan {
  vertical-align: top;
  padding-top: 21px;
  padding-left: 16px; }
  .slogan span {
    display: block;
    font-family: "RobotoBold";
    font-size: 20px; }
  .slogan .author_create {
    font-size: 24px;
    padding-left: 22px;
    padding-top: 5px;
    color: #FF9726;
    background: url(../img/g.png) no-repeat left bottom 3px; }

.contacts {
  vertical-align: top;
  padding-left: 16px;
  border-left: 1px dashed #CCCCCC;
  padding-top: 5px; }
  .contacts span {
    font-family: "RobotoMedium";
    font-size: 18px;
    display: block;
    margin-bottom: 7px; }
  .contacts span:nth-child(1) {
    background: url(../img/p.png) no-repeat left center;
    padding-left: 27px; }
  .contacts span:nth-child(2) {
    background: url(../img/w.png) no-repeat left center;
    padding-left: 27px; }

.header-top {
  padding: 10px 0px;
  background-size: cover; }

.mobile-menu {
  background: linear-gradient(to top, #666665, #151616);
  height: 50px;
  width: 100%; }

.burger {
  text-align: right;
  padding-top: 15px;
  padding-right: 15px; }

.burg_2 {
  display: none; }

.burg_hover:hover .burg_2 {
  display: inline-block; }
.burg_hover:hover .burg_1 {
  display: none; }

.main-menu {
  display: none;
  background: linear-gradient(to top, #666665, #151616);
  text-align: center; }
  .main-menu a {
    color: #fff;
    font-family: "RobotoMedium";
    display: block;
    padding: 12px 0px;
    border-bottom: 1px solid grey;
    transition: 0.7s; }
  .main-menu a:hover {
    background: #EF7F1A; }

/* Slider
============================*/
#slider {
  border: 1px solid #DFDDDD;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px; }
  #slider .item {
    overflow: hidden; }
  #slider .nav-left {
    background: url(../img/left1.png) no-repeat;
    width: 20px;
    height: 39px;
    position: absolute;
    top: 47%;
    left: 20px;
    transform: translate(-50); }
  #slider .nav-left:hover {
    background: url(../img/left2.png) no-repeat; }
  #slider .nav-right {
    background: url(../img/right1.png) no-repeat;
    width: 20px;
    height: 39px;
    position: absolute;
    top: 47%;
    right: 20px;
    transform: translate(-50); }
  #slider .nav-right:hover {
    background: url(../img/right2.png) no-repeat; }

/* Content
=====================*/
.content_wrap {
  border-right: 1px dashed #CCCCCC;
  padding-right: 10px;
  margin-top: 15px; }
  .content_wrap h1:hover {
    text-decoration: underline;
    color: #EF7F1A; }

.content {
  padding-bottom: 25px;
  border-bottom: 1px solid #CCCCCC; }

.img-box {
  width: 170px;
  height: 170px;
  margin: 10px auto;
  border: 1px solid #CCCCCC;
  padding: 3px; }

.pagination {
  margin: 30px 0px;
  text-align: center; }
  .pagination li {
    display: inline-block; }
    .pagination li a {
      padding: 5px 10px;
      background: linear-gradient(to top, #DD2B1B, #F17E00);
      color: #fff;
      font-family: "RobotoMedium";
      font-size: 14px; }
    .pagination li a:hover {
      background: #FF9726; }

/* Footer
==========================*/
.footer {
  padding: 25px 15px;
  background: url(../img/bg.png) repeat; }

/* Page
=========================*/
.brad-crumps {
  background: #F5F5F5;
  padding: 8px 15px;
  margin-top: 15px; }
  .brad-crumps a {
    font-family: "RobotoMedium";
    font-size: 14px;
    color: #FF9726; }
  .brad-crumps span {
    font-family: "RobotoMedium";
    font-size: 14px;
    color: grey; }

.metki {
  margin-top: 25px;
  margin-bottom: 15px; }
  .metki span {
    display: inline-block;
    background: #FF9726;
    padding: 2px 8px;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
    font-family: "RobotoMedium";
    text-shadow: 1px 1px 2px black, 0 0 1em red; }
  .metki a {
    margin-top: 10px;
    padding-right: 5px;
    display: inline-block;
    font-family: "RobotoRegular";
    font-size: 12px;
    color: grey; }
  .metki .first_metka {
    padding-left: 19px;
    background: url(../img/metka.png) no-repeat left center; }

.title {
  text-align: center; }

.faq {
  width: 100%;
  margin-bottom: 25px; }

.faq-title {
  font-family: "RobotoMedium";
  background: #FF9726 url(../img/plus.png) no-repeat center right 15px;
  transition: background-color 0.7s;
  border-bottom: 1px solid red;
  display: block;
  padding: 8px 10px;
  color: #000;
  text-decoration: none;
  border-radius: 5px; }

.active_ak {
  border-radius: 5px;
  background: #FFC41D url(../img/minus.png) no-repeat center right 15px; }

.faq-title:hover {
  background-color: #FFC41D; }

.faq-content {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  display: none;
  border: 1px solid #DFDDDD; }

.rules h1:hover {
  color: black;
  text-decoration: none; }

/* Contacts
========================*/
.form-wrap input[type="text"], .form-wrap input[type="email"] {
  height: 40px;
  padding-left: 15px;
  width: 260px;
  font-family: "RobotoMedium";
  color: black;
  font-size: 14px;
  margin-bottom: 14px;
  outline: none;
  border: 1px solid #DBDBDB;
  border-radius: 5px; }
.form-wrap input[type="submit"] {
  outline: none;
  border: none;
  margin-bottom: 25px; }
.form-wrap textarea {
  max-width: 600px;
  width: 100%;
  min-height: 200px;
  resize: none;
  font-family: "RobotoMedium";
  color: black;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 14px;
  margin-bottom: 14px;
  outline: none;
  border: 1px solid #DBDBDB;
  border-radius: 5px; }

/* Pop up thanks
==============================*/
#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  width: 100%;
  height: 100%;
  display: none; }

.window {
  display: none;
  position: absolute;
  left: 0;
  top: 200px !important;
  display: none;
  z-index: 9998;
  border: none;
  text-align: center; }
  .window .form-wrap-main {
    border: 1px solid black;
    background: #fff;
    border-radius: 10px;
    padding: 50px 25px; }
    .window .form-wrap-main span {
      font-family: "RobotoRegular";
      color: black;
      font-size: 15px;
      display: block;
      margin-bottom: 15px; }
    .window .form-wrap-main .first_sp {
      font-family: "RobotoMedium";
      color: #DE3221;
      font-size: 21px; }
  .window .dd-close {
    width: 20px;
    height: 20px;
    color: black;
    font-family: "RobotoMedium";
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transition: 0.5s; }
  .window .dd-close:hover {
    color: #FFC41D; }

.form-title {
  color: #DE3221;
  font-family: "RobotoMedium";
  font-size: 22px;
  padding-bottom: 14px; }

.dd-form-txt {
  color: black;
  font-size: 19px;
  font-family: "RobotoRegular"; }

.form-txt {
  padding-bottom: 25px; }
  .form-txt span {
    font-size: 16px;
    font-family: "RobotoMedium";
    color: #DE3221; }

@media only screen and (min-width: 480px) {
  .img-box {
    float: left;
    margin-right: 22px; }

  .pagination li a {
    font-size: 17px; } }
@media only screen and (min-width: 768px) {
  #slider .owl-dots {
    display: none;
    position: absolute;
    left: 47%;
    transform: translate(-50);
    bottom: 30px; }
    #slider .owl-dots .owl-dot {
      display: inline-block;
      margin-left: 5px; }
      #slider .owl-dots .owl-dot span {
        border: 1px solid black;
        float: left;
        display: inline-block;
        border-radius: 10em;
        background: #fff;
        width: 15px;
        height: 15px; }
    #slider .owl-dots .active span {
      border-radius: 10em;
      background: #EF7F1A;
      width: 15px;
      height: 15px; } }
@media only screen and (min-width: 992px) {
  .mobile-menu {
    display: none; }

  .main-menu {
    display: block;
    text-align: left;
    border-radius: 5px; }
    .main-menu li {
      display: inline-block;
      padding-left: 40px; }
    .main-menu a {
      border-bottom: unset; }
    .main-menu a:hover {
      display: inline-block;
      background: unset;
      color: #EF7F1A; }

  .logo {
    border-right: 1px dashed #CCCCCC;
    padding-right: 22px; } }
@media only screen and (min-width: 1248px) {
  .contacts {
    float: right; }

  .slogan {
    padding-top: 33px; } }

/*# sourceMappingURL=style.css.map */
